.wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.show {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
}
