.button {
  flex: 1;
  background-color: transparent;
  font-family: inherit;
  border: none;
  font-size: inherit;
}

.context {
  padding: 10px 20px;
  width: 100%;
}

.context:hover {
  background-color: var(--hover-color);
  color: var(--hover-text);
}
