.button {
  flex: 1;
  background-color: transparent;
  font-family: inherit;
  border: none;
  font-size: inherit;
}

.context {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  transition:
    background-color 500ms ease-out,
    color 500ms ease-out;
}

.context:hover {
  background-color: var(--hover-color);
  color: var(--hover-text);
}
