.wrapper {
  box-shadow: var(--shadow-medium);
  --position-x: 0px;
  --position-y: 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  background-color: var(--hover-text);

  position: absolute;
  top: var(--position-y);
  left: var(--position-x);
  animation: fade-in 1000ms forwards ease-out;
  border-radius: var(--border-radius-small);
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
