.wrapper {
  box-shadow: var(--shadow-medium);
  --position-x: 0px;
  --position-y: 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  background-color: var(--hover-text);

  position: absolute;
  top: var(--position-y);
  left: var(--position-x);
}
