.wrapper {
  display: flex;
  position: absolute;
  top: var(--position-y);
  left: var(--position-x);
  transform: translate(-50%, -50%);
}

.found {
  display: flex;
}

.icon {
  line-height: 0;
  display: block;
  color: red;
}
