.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(0deg 100% 100% / 0.5);
  backdrop-filter: blur(5px);
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
}

.form,
.group {
  display: flex;
}

.group {
  align-items: stretch;
  gap: 10px;
}

.form {
  gap: 10px;
}

.label {
  font-size: 1rem;
  align-self: center;
}

.field {
  font-family: inherit;
  border: 1px solid black;
}

.field:user-valid {
  border: 1px solid green;
}

.field:user-invalid {
  border: 1px solid red;
}

.submit {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
}

.field,
.submit {
  padding: 10px;
  border-radius: 5px;
}
