:root {
  --font-stack: 'Google Sans', Helvetica, Arial, sans-serif;
  --shadow-color: hsl(260deg 30% 10% / 0.25);
  --shadow-medium: 2px 4px 4px var(--shadow-color);
  --font-size: 1rem;
  --hover-color: hsl(260deg 85% 10%);
  --hover-text: hsl(260deg 10% 90% / 0.7);
  --background-image: url(/assets/images/wheres-wally-01.webp);
  --black: hsl(260deg 20% 10%);
  --border-dotted: dotted;
  --circle-radius: 50%;
  --border-radius-small: 5px;
  --overlay-size: 50px;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-stack);
  font-size: var(--font-size);
}

#root {
  min-height: 100%;
  display: flex;
  position: relative;
}
